<!--This list lets the user pick what ship they would like to delete -->
<!--After hitting submit, it takes them to the success/failure page -->
<% if params["delete"] == "ship" %>
  <h1>Delete Ship Entry</h1>
  
  <p>Which ship would you like to delete?</p>
    <form action="/show_ship_delete_list">
  
      <select name="ship_delete_id">
        <% ShipName.all.each do |name| %>
          <option value="<%= name.id %>"><%= name.ship_name %></option>
        <% end %>
      </select>
  
      <button type="submit">I'm sure, delete me!</button>
    </form>
<% end %>
<!--This list lets the user pick what ship type they would like to delete -->
<!--After hitting submit, it takes them to the success/failure page -->
<% if params["delete"] == "type" %>
  <h1>Delete Ship Type Entry</h1>
  
  <p>Which ship type would you like to delete?</p>
    <form action="/show_delete_type_list">
  
      <select name="type_id">
        <% ShipType.all.each do |type| %>
          <option value="<%= type.id %>"><%= type.ship_type %></option>
        <% end %>
      </select>
  
      <button type="submit">I'm sure, delete me!</button>
    </form>
<% end %>
<!--This list lets the user pick what location they would like to delete -->
<!--After hitting submit, it takes them to the success/failure page -->
<% if params["delete"] == "location" %>
  <h1>Delete Location Entry</h1>
  
  <p>Which location would you like to delete?</p>
    <form action="/show_delete_location_list">
  
      <select name="location_id">
        <% ShipLocation.all.each do |location| %>
          <option value="<%= location.id %>"><%= location.solar_system_name %></option>
        <% end %>
      </select>
  
      <button type="submit">I'm sure, delete me!</button>
    </form>
<% end %>

<a href=/home>Go to home page</a>